<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485192077375-7gdh3195rbocq6uoee1qa747hqlvhubv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485192077375-7gdh3195rbocq6uoee1qa747hqlvhubv</string>
	<key>API_KEY</key>
	<string>AIzaSyAluHLsAnljwxThDSH2z9W9OeMVRYRrSJE</string>
	<key>GCM_SENDER_ID</key>
	<string>485192077375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camille.Wota</string>
	<key>PROJECT_ID</key>
	<string>wota-772b2</string>
	<key>STORAGE_BUCKET</key>
	<string>wota-772b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:485192077375:ios:124e2844b092dd30d0a88a</string>
</dict>
</plist>
